-#- unless @current_user.nil?
.fixed
  %nav.top-bar
    %section.top-bar-section
      %ul.left
        %li
          = link_to "Platform management", platform_path
        %li.divider
        %li
          = link_to "Monitoring", monitoring_path
        %li.divider
        %li
          = link_to "Scaling rules", scaling_rules_path
        %li.divider
